# Visual Studio clutter
_ReSharper*
*.sdf
*.suo
*.dir
*.vcxproj*
*.sln
.vs
CMakeSettings.json
Win32
x64
Debug
Release
MinSizeRel
RelWithDebInfo
*.opensdf

# Makefile generator clutter
Makefile

# Generated wayland clutter
wayland-client-protocol*
viewporter-client-protocol*
xdg-shell-client-protocol*
idle-inhibit-unstable-v1-client-protocol*
pointer-constraints-unstable-v1-client-protocol*
relative-pointer-unstable-v1-client-protocol*
fractional-scale-v1-client-protocol*
xdg-activation-v1-client-protocol*
xdg-decoration-unstable-v1-client-protocol*

# Xcode clutter
GLFW.build
GLFW.xcodeproj

# macOS clutter
.DS_Store


